apiVersion: v1
kind: Secret
metadata:
  name: oauth2-proxy-config
  namespace: monitoring
type: Opaque
stringData:
  oauth2-proxy.cfg: |-
    http_address = "0.0.0.0:4180"
    https_address = ":443"
    upstreams = [
      "http://grafana:3000/"
    ]
    authenticated_emails_file = "/etc/oauth2-proxy/authenticated-emails.txt"
    client_id = "228647451737-2e58lro0vl5glbuj6t27gql4hfrb6fhg.apps.googleusercontent.com"
    client_secret = "{{oauth2ProxyClientSecret}}"
    cookie_name = "_oauth2_proxy"
    cookie_secret = "{{oauth2ProxyCookieSecret}}"
  authenticated-emails.txt: "{{oauth2ProxyEmails}}"
