apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: tupelo-bootstrap
  labels:
    app: tupelo-bootstrap
spec:
  serviceName: tupelo-bootstrap
  replicas: 3
  selector:
    matchLabels:
      app: tupelo-bootstrap
  template:
    metadata:
      labels:
        app: tupelo-bootstrap
    spec:
      containers:
        - name: bootstrap
          image: eu.gcr.io/experimental-berlin/tupelo:{{imageTag}}
          imagePullPolicy: {{imagePullPolicy}}
          args: ["bootstrap-node", "-L", "debug", "--config", "/etc/tupelo/conf.toml"]
          ports:
            - name: peer
              containerPort: 34001
            - name: prometheus
              containerPort: 2112
          env:
            - name: MY_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            # Force CGo DNS resolver, as the standard one won't resolve hostnames ending with .local
            - name: GODEBUG
              value: "netdns=cgo"
            - name: IPFS_LOGGING_FMT
              value: "nocolor"
            - name: TUPELO_GO_SDK_LOG_ENCODING
              value: json
          volumeMounts:
            - mountPath: /etc/tupelo
              name: config
          resources:
            limits:
              cpu: 100m
              memory: 100Mi
            requests:
              cpu: 20m
              memory: 50Mi
        - name: config-monitor
          image: eu.gcr.io/experimental-berlin/tupelo-k8s-configurator
          imagePullPolicy: {{imagePullPolicy}}
          args: ["bootstrapper", "-ldebug", "--monitor"]
          env:
            - name: MY_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: TUPELO_GO_SDK_LOG_ENCODING
              value: json
          volumeMounts:
            - mountPath: /etc/tupelo-private-keys
              name: private-keys
              readOnly: true
            - mountPath: /etc/tupelo-public-keys
              name: public-keys
              readOnly: true
            - mountPath: /etc/tupelo
              name: config
          resources:
            limits:
              cpu: 50m
              memory: 50Mi
            requests:
              cpu: 10m
              memory: 30Mi
      initContainers:
        - name: init-tupelo-config
          image: eu.gcr.io/experimental-berlin/tupelo-k8s-configurator
          imagePullPolicy: {{imagePullPolicy}}
          args: ["bootstrapper", "-ldebug"]
          env:
            - name: MY_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: TUPELO_GO_SDK_LOG_ENCODING
              value: json
          volumeMounts:
            - mountPath: /etc/tupelo-private-keys
              name: private-keys
              readOnly: true
            - mountPath: /etc/tupelo-public-keys
              name: public-keys
              readOnly: true
            - mountPath: /etc/tupelo
              name: config
      imagePullSecrets:
        - name: image-registry
      volumes:
        - name: private-keys
          secret:
            secretName: tupelo-private-keys
        - name: public-keys
          configMap:
            name: tupelo-public-keys
        - name: config
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: tupelo-bootstrap
  labels:
    app: tupelo-bootstrap
spec:
  clusterIP: None
  ports:
    - name: peer
      port: 34001
    - name: prometheus
      port: 2112
  selector:
    app: tupelo-bootstrap
---
apiVersion: v1
kind: Service
metadata:
  name: tupelo-bootstrap-0
  labels:
    app: tupelo-bootstrap
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local
  ports:
    - name: peer
      port: 34001
  selector:
    statefulset.kubernetes.io/pod-name: tupelo-bootstrap-0
---
apiVersion: v1
kind: Service
metadata:
  name: tupelo-bootstrap-1
  labels:
    app: tupelo-bootstrap
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local
  ports:
    - name: peer
      port: 34001
  selector:
    statefulset.kubernetes.io/pod-name: tupelo-bootstrap-1
---
apiVersion: v1
kind: Service
metadata:
  name: tupelo-bootstrap-2
  labels:
    app: tupelo-bootstrap
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local
  ports:
    - name: peer
      port: 34001
  selector:
    statefulset.kubernetes.io/pod-name: tupelo-bootstrap-2
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: tupelo-bootstrap
  labels:
    app: tupelo-bootstrap
spec:
  selector:
    matchLabels:
      app: tupelo-bootstrap
  endpoints:
    - port: prometheus
