apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: tupelo-signers
  labels:
    app: tupelo-signers
spec:
  serviceName: tupelo-signers
  replicas: 3
  selector:
    matchLabels:
      app: tupelo-signers
  template:
    metadata:
      labels:
        app: tupelo-signers
    spec:
      containers:
        - name: signer
          image: eu.gcr.io/experimental-berlin/tupelo:{{imageTag}}
          imagePullPolicy: {{imagePullPolicy}}
          args: ["test-node", "-L", "debug", "--config", "/etc/tupelo/conf.toml"]
          ports:
            - name: peer
              containerPort: 34002
            - name: prometheus
              containerPort: 2112
          env:
            - name: MY_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            # Force CGo DNS resolver, as the standard one won't resolve hostnames ending with .local
            - name: GODEBUG
              value: "netdns=cgo"
            - name: IPFS_LOGGING_FMT
              value: "nocolor"
            - name: TUPELO_GO_SDK_LOG_ENCODING
              value: json
          volumeMounts:
            - mountPath: /etc/tupelo
              name: config
            - mountPath: /var/lib/data
              name: data
          resources:
            limits:
              cpu: 60m
              memory: 200Mi
            requests:
              cpu: 50m
              memory: 100Mi
        - name: config-monitor
          image: eu.gcr.io/experimental-berlin/tupelo-k8s-configurator
          imagePullPolicy: {{imagePullPolicy}}
          args: ["signer", "-ldebug", "--monitor"]
          env:
            - name: MY_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: TUPELO_GO_SDK_LOG_ENCODING
              value: json
          volumeMounts:
            - mountPath: /etc/tupelo-private-keys
              name: private-keys
              readOnly: true
            - mountPath: /etc/tupelo-public-keys
              name: public-keys
              readOnly: true
            - mountPath: /etc/tupelo
              name: config
          resources:
            limits:
              cpu: 50m
              memory: 50Mi
            requests:
              cpu: 10m
              memory: 30Mi
      initContainers:
        - name: init-tupelo-config
          image: eu.gcr.io/experimental-berlin/tupelo-k8s-configurator
          imagePullPolicy: {{imagePullPolicy}}
          args: ["signer", "-ldebug"]
          env:
            - name: MY_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: TUPELO_GO_SDK_LOG_ENCODING
              value: json
          volumeMounts:
            - mountPath: /etc/tupelo-private-keys
              name: private-keys
              readOnly: true
            - mountPath: /etc/tupelo-public-keys
              name: public-keys
              readOnly: true
            - mountPath: /etc/tupelo
              name: config
      imagePullSecrets:
        - name: image-registry
      volumes:
        - name: private-keys
          secret:
            secretName: tupelo-private-keys
        - name: public-keys
          configMap:
            name: tupelo-public-keys
        - name: config
          emptyDir: {}
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 100Gi
---
apiVersion: v1
kind: Service
metadata:
  name: tupelo-signers
  labels:
    app: tupelo-signers
spec:
  clusterIP: None
  ports:
    - name: peer
      port: 34002
    - name: prometheus
      port: 2112
  selector:
    app: tupelo-signers
---
apiVersion: v1
kind: Service
metadata:
  name: tupelo-signers-0
  labels:
    app: tupelo-signers
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local
  ports:
    - name: peer
      port: 34002
  selector:
    statefulset.kubernetes.io/pod-name: tupelo-signers-0
---
apiVersion: v1
kind: Service
metadata:
  name: tupelo-signers-1
  labels:
    app: tupelo-signers
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local
  ports:
    - name: peer
      port: 34002
  selector:
    statefulset.kubernetes.io/pod-name: tupelo-signers-1
---
apiVersion: v1
kind: Service
metadata:
  name: tupelo-signers-2
  labels:
    app: tupelo-signers
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local
  ports:
    - name: peer
      port: 34002
  selector:
    statefulset.kubernetes.io/pod-name: tupelo-signers-2
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: tupelo-signers
  labels:
    app: tupelo-signers
spec:
  selector:
    matchLabels:
      app: tupelo-signers
  endpoints:
    - port: prometheus
