apiVersion: v1
kind: Secret
metadata:
  name: tupelo-private-keys
type: Opaque
stringData:
  bootstrap-0: "{{tupeloBootstrapPrivateKeys[0]}}"
  bootstrap-1: "{{tupeloBootstrapPrivateKeys[1]}}"
  bootstrap-2: "{{tupeloBootstrapPrivateKeys[2]}}"
  signer-0.json: |-
    {
      "ecdsa": "{{tupeloSignersPrivateKeys[0]['ecdsa']}}",
      "bls": "{{tupeloSignersPrivateKeys[0]['bls']}}"
    }
  signer-1.json: |-
    {
      "ecdsa": "{{tupeloSignersPrivateKeys[1]['ecdsa']}}",
      "bls": "{{tupeloSignersPrivateKeys[1]['bls']}}"
    }
  signer-2.json: |-
    {
      "ecdsa": "{{tupeloSignersPrivateKeys[2]['ecdsa']}}",
      "bls": "{{tupeloSignersPrivateKeys[2]['bls']}}"
    }
