apiVersion: v1
kind: ConfigMap
metadata:
  name: tupelo-public-keys
data:
  bootstrap-0.json: |-
    {
      "peerId": "16Uiu2HAmCjuhZMcfGoBJFMb3fiqqrx3mZha5CSak27gKXzSZYaad",
      "publicIp": "139.59.204.210"
    }
  bootstrap-1.json: |-
    {
      "peerId": "16Uiu2HAmQd1muC53QDeswmfeTYM1gTwFv4DyCrFg6cs7ByDKNMZW",
      "publicIp": "46.101.70.47"
    }
  bootstrap-2.json: |-
    {
      "peerId": "16Uiu2HAmUtH5w7H7wwCTaszY4uUTMZ5FL17LcXRdWtFidr8od5fM",
      "publicIp": "139.59.204.232"
    }
  signer-0.json: |-
    {
      "ecdsa": "{{tupeloSignerPublicKeys[0]['ecdsa']}}",
      "bls": "{{tupeloSignerPublicKeys[0]['bls']}}",
      "publicIp": "67.207.79.175"
    }
  signer-1.json: |-
    {
      "ecdsa": "{{tupeloSignerPublicKeys[1]['ecdsa']}}",
      "bls": "{{tupeloSignerPublicKeys[1]['bls']}}",
      "publicIp": "139.59.204.220"
    }
  signer-2.json: |-
    {
      "ecdsa": "{{tupeloSignerPublicKeys[2]['ecdsa']}}",
      "bls": "{{tupeloSignerPublicKeys[2]['bls']}}",
      "publicIp": "139.59.204.213"
    }
